body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: #dadcf7;
  background-image: linear-gradient(234deg, #dadcf7 0%, #ebebeb 69%);
}


.grabber-content {
  margin: 16px;
  max-width: 768px;
}

.grabber-content__header {
  display: flex;
  align-items: baseline;
  gap: 16px;
  justify-content: flex-end;
}